<!--ABOUT PAGE-->
    
<div class="container view-section">
      	
    <div class="row">
        
	    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					
			Game of Thrones is the immensely popular television show that has aired for seven seasons on HBO. 
			The show is based on the epic fantasy novel series, A Song of Fire and Ice, written by George R. R. Martin. 
			The first novel of the seven-book series is called A Game of Thrones; the show creators and HBO decided to keep that 
			title as the overall name of the show. This page contains all the information regarding books, characters and houses of Game Of Thrones.
	    
		</div>
        
    </div>
      
</div>